<h2 *ngIf="(appMode$ | async) === AppMode.CLASSIC"
    id="{{AppScreen.PROJECTS}}"
    class="section-header">
  Portfolio
</h2>

<section *ngIf="(projects$ | async) as portfolio" class="portfolio">
  <div class="portfolio-container">

    <div class="h2-container">
      <h2>{{portfolio[currentIndex].name}}</h2>
    </div>

    <div class="description content-between">

      <div class="text-container">
        <p class="text">
          {{portfolio[currentIndex].description}}
        </p>
      </div>

      <app-project-tile [projects]="portfolio"
                        [index]="currentIndex"
      (selected)="setActiveProject($event)">
      </app-project-tile>

      <div class="pillar"></div>

    </div>

    <div class="controls content-between">

      <p>
        <a href="{{portfolio[currentIndex].link}}"
            target="_blank">
        View project</a>
      </p>

      <p class="active"
         (click)="slideNext()">
        Next project
      </p>

    </div>
  </div>
</section>
