@import "../../../styles/partials/positioning";
@import "../../../styles/partials/colors";

:host {

  .section-header {
    margin-left: 5%;
    margin-bottom: 80px;
  }

  .portfolio {
    @include container(100vh, 100%, -2%, 0, 0);

      .h2-container {
        margin-bottom: 30px;
        margin-left: 45px;

        h2 {
          font-family: "Gotha Pro Bold", sans-serif;
          font-size: 44px;
        }
      }

      .description {
        position: relative;
        width: 100%;
        flex-wrap: nowrap;

        .text-container {
          background-color: $secondaryColor;
          width: 35%;
          padding: 3%;
          overflow: auto;
          height: 40vh;

          @media screen and (max-width: 1600px) {
            width: 50%;
          }

          .text {
            color: black;
            padding-right: 5%;
            line-height: 22px;
          }
        }

        .pillar {
          height: available;
          flex-grow: 100;
          background-color: $primaryColor;
          position: relative;
        }
      }

      .controls { //TODO move to separate component
        width: 350px;
        margin-left: 45px;

        p {
          cursor: pointer;

          &.active {
            color: $primaryColor;

            &::after {
              background-color: $primaryColor;
            }
          }

          &::after {
            content: '';
            display: inline-block;
            width: 50px;
            height: 10px;
            background-color: $secondaryColor;
            margin-left: 10px;
          }
        }
    }
  }

  @media screen and (max-width: 1250px) {

    .section-header {
      margin-bottom: 30px;
    }

    .portfolio {
        .description {
          .text-container {
            padding-top: 45px;
            padding-left: 45px;
            min-height: 440px;

            .text {
              line-height: 22px;
            }
          }
        }

        .controls {
          width: 350px;
          margin-left: 45px;
        }
      }
  }

  @media screen and (max-width: 930px) {
    .portfolio {
        .controls {
          width: 350px;
          margin: 80px auto;
        }
    }
  }

  @media screen and (max-width: 650px) {
    .portfolio {
        .h2-container {
          margin-bottom: 70px;
          margin-left: 0;
          text-align: center;
          width: 100%;

          h2 {
            font-size: 11vw;
          }
        }

        .description {
          .text-container {
            background-color: $secondaryColor;
            width: 100%;
            height: fit-content;
            min-height: 380px;
          }
        }

        .controls {
          width: 350px;
          margin-top: 10px;
        }
      }
  }
}
