.progress-bar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  bottom: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;

  li {
    margin: 20px;
    cursor: pointer;
  }
}

.mat-progress-bar {
  height: 5px;
  overflow: visible;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: white !important;
}

::ng-deep  .mat-progress-bar-fill {

  &::after {
    background-color: rgb(255,81,81) !important;
    height: 10px !important;
    margin-top: -2.5px !important;
  }
}
