<section *ngIf="(recommendations$ | async) as recommendations"
         class="recommendations"
        [class.tablet]="(appMode$ | async) !== AppMode.SLIDES">

  <h2 *ngIf="(appMode$ | async) !== AppMode.SLIDES"
      id="{{AppScreen.REVIEWS}}"
      class="section-header">
    Feedback
  </h2>

  <div style="width: 100%">
    <div class="feedback-container content-between">
      <app-review class="feedback"
                  [recommendation]="recommendations[currentRecommendationIndex]">
      </app-review>
      <div class="pillar">
      </div>
    </div>

    <div class="controls-wrapper">
      <app-back-nforward-control
        [text]="'Next review'"
        (nextClicked)="slideNext()"
        (prevClicked)="slidePrev()">
      </app-back-nforward-control>
    </div>
  </div>

</section>
