@mixin container($min-height, $width, $margin-top, $margin-bottom, $margin-left) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $min-height;
  width: $width;
  position: relative;
  margin-left: $margin-left;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

  @media screen and (max-width: 1350px){
    zoom: 0.85;
  }

  @media screen and (max-width: 1150px){
    zoom: 1;
  }
}


