@import "../../../../styles/partials/positioning";
@import "../../../../styles/partials/colors";

.section-header {
  margin-left: 5%;
  margin-bottom: 80px;
}


.portfolio {
  @include container(100vh, 100%, 0, 0, 0);


  .feedback-container {
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    background-color: $primaryColor;
    min-height: 320px;

    .pillar {
      height: available;
      background-color: $secondaryColor;
      width: 10%;
    }
  }

  .controls-wrapper {
    width: 92.5%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1250px) {
  .portfolio {
    @include container(auto, 100%, 0, 60px, 0);

    .controls {
      p {
        margin: 20px auto;
      }
    }
  }

  .controls-wrapper {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 680px) {
  .section-header {
    margin-left: 5%;
    margin-bottom: 80px;
  }


  .portfolio {


    .feedback-container {
      position: relative;
      width: 100%;
      flex-wrap: nowrap;
      background-color: $primaryColor;
      min-height: 320px;

      app-review {
        width: 95%;
      }

      .pillar {
        height: available;
        background-color: $secondaryColor;
        width: 5%;
      }
    }
  }
}

