.section-header {
  margin-left: 5%;
  margin-bottom: 80px;
}


.portfolio {
  min-height: 380px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto auto auto 5%;


  .feedback-container {
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    background-color: #FF5252;
    min-height: 320px;

    .pillar {
      height: available;
      background-color: rgb(238,243,254);
      width: 10%;
    }
  }

  .controls {
    margin: 20px auto;
    width: 350px;

    p {
      cursor: pointer;

      &.active {
        color: #FF5252;

        &::after {
          background-color: #FF5252;
        }
      }

      &::after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 10px;
        background-color: white;
        margin-left: 10px;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 10px;
        background-color: white;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .portfolio {
    position: relative;
    padding-top: 1px;
    margin-top: -1px;
    margin-left: 0;
    margin-bottom: 60px;

    .controls {
      p {
        margin: 20px auto;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .section-header {
    margin-left: 5%;
    margin-bottom: 80px;
  }


  .portfolio {


    .feedback-container {
      position: relative;
      width: 100%;
      flex-wrap: nowrap;
      background-color: #FF5252;
      min-height: 320px;

      app-review {
        width: 95%;
      }

      .pillar {
        height: available;
        background-color: rgb(238,243,254);
        width: 5%;
      }
    }

    .controls {
      margin: 20px auto;
      width: 350px;

      p {
        cursor: pointer;

        &.active {
          color: #FF5252;

          &::after {
            background-color: #FF5252;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 50px;
          height: 10px;
          background-color: white;
          margin-left: 10px;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 50px;
          height: 10px;
          background-color: white;
          margin-right: 10px;
        }
      }
    }
  }
}

