<main>
  <app-header-component *ngIf="currentScreen === 'About' || classicMode">
  </app-header-component>

  <app-skills [classicMode]="classicMode"
              [mobileMode]="mobileMode"
              *ngIf="currentScreen === 'Skills' || classicMode">
  </app-skills>

  <app-portfolio  [classicMode]="classicMode"  *ngIf="currentScreen === 'Projects' || classicMode">
  </app-portfolio>

  <app-feedback  [classicMode]="classicMode"  *ngIf="currentScreen === 'Reviews' || classicMode">
  </app-feedback>

  <app-get-in-touch
    [mobileMode]="mobileMode"
    [classicMode]="classicMode"
    *ngIf="currentScreen === 'Contacts' || classicMode">
  </app-get-in-touch>

  <app-footer *ngIf="classicMode">
  </app-footer>

</main>

<app-sidebar [classicMode]="classicMode"></app-sidebar>
<app-progress-bar  *ngIf="!classicMode"></app-progress-bar>

