<main>
  <app-header-component *ngIf="currentScreen === ''">
  </app-header-component>

  <app-skills *ngIf="currentScreen === 'Skills'">
  </app-skills>

  <app-portfolio *ngIf="currentScreen === 'Projects'">
  </app-portfolio>

  <app-feedback *ngIf="currentScreen === 'Reviews'">
  </app-feedback>

  <app-get-in-touch *ngIf="currentScreen === 'Contacts'">
  </app-get-in-touch>
</main>

<app-sidebar [currentStep]="currentScreen"></app-sidebar>
<app-progress-bar (activePath)="changeCurrentScreen($event)"></app-progress-bar>
