<h2 *ngIf="(appMode$ | async) === AppMode.CLASSIC"
    id="{{AppScreen.CONTACTS}}"
    class="section-header">
  Contact
</h2>

<h3 *ngIf="(appMode$ | async) === AppMode.MOBILE" class="headline">
  Have a question or want<br> to work together?
</h3>

<section class="get-in-touch">
  <div class="form-container content-between">
    <div class="form">
      <form [formGroup]="getInTouchForm"
            [class.active]="isActive">
        <div class="form-wrapper">
          <mat-form-field>
            <input formControlName="name"
                   name="name"
                   matInput placeholder="Name">
          </mat-form-field>

          <mat-form-field>
            <input type="email"
                   formControlName="email" name="email"
                   matInput placeholder="Email">
            <mat-error>Please enter a valid email</mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea formControlName="message" name="message"
                      rows="3"
              matInput placeholder="Your message">
            </textarea>
          </mat-form-field>
        </div>
      </form>

      <app-primary-button [text]="'Submit'"

                          [disabled]="getInTouchForm.invalid"
                          (clicked)="onSubmit()">
      </app-primary-button>
    </div>

    <div class="text-container" [class.active]="isActive">
      <div [class.active]="isActive" class="text-wrapper">
        <p>Thanks for reaching out! I'll be getting back to you in no time!</p>
      </div>
    </div>
  </div>

</section>
