@import "../../../styles/partials/positioning";
@import "../../../styles/partials/colors";

:host {
  .section-header {
    margin-left: 5%;
    margin-bottom: 140px;
  }

  .get-in-touch {
    @include container(100vh, 100%, 0, 0, 0);

    .h2-container {
      margin-bottom: 30px;
      margin-left: 45px;

      h2 {
        font-family: "Gotha Pro Bold", sans-serif;
        font-size: 44px;

      }

      p, input, mat-form-field, .mat-form-field {
        color: white !important;
      }
    }

    .form-container {
      //margin-top: -8%;
      width: 100%;
      flex-wrap: nowrap;

      .form {
        background-color: $minorColor;
        width: 95%;
        min-height: 320px;
        text-align: center;
        position: relative;

        &.active {
          width: 50%;
        }

        .form-wrapper {
          margin: 50px 13% 3%;

          .mat-form-field {
            width: 100%;
            margin-bottom: 4px;
            margin-left: 0;
          }
        }

        app-primary-button {
          position: absolute;
          bottom: -7.5%;
          left: 0;
          right: 0;
        }
      }

      .text-container {
        height: available;
        background-color: $primaryColor;
        width: 5%;
        transition: 800ms ease-in-out;

        &.active {
          width: 50%;
        }

        .text-wrapper {
          margin: 70px 13% 3%;
          transition: 1000ms ease-in-out;
          opacity: 0;
          width: 100%;

          &.active {
            width: 50%;
            opacity: 1;
          }

          p {
            width: 150%;
          }
        }
      }
    }

    .controls {
      margin: 20px auto;
      width: 350px;

      p {
        cursor: pointer;

        &.active {
          color: $primaryColor;

          &::after {
            background-color: $primaryColor;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 50px;
          height: 10px;
          background-color: $secondaryColor;
          margin-left: 10px;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 50px;
          height: 10px;
          background-color: white;
          margin-right: 10px;
        }
      }
    }
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $secondaryColor !important;
  }

  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: $secondaryColor !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $secondaryColor !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $secondaryColor !important;;
  }

  input.mat-input-element {
    color: $primaryColor;
  }


  @media screen and (max-width: 1250px) {
    .get-in-touch {
      @include container(auto, 100%, 0, 0, 0);


      app-primary-button {
        position: relative;
        bottom: 0;
        margin-bottom: 50px;
      }
    }
  }


  @media screen and (max-width: 650px) {

    .section-header {
      margin-left: 5%;
      margin-bottom: 30px;
    }

    .headline {
      width: 90%;
      text-align: center;
      font-size: 3.3vw;
      margin: 0 auto 70px;
      font-style: italic;
    }

    .get-in-touch {

      .h2-container {
        margin-bottom: 30px;
        margin-left: 45px;

        h2 {
          font-size: 44px;
        }
      }

      .form-container {
        width: 100%;
        flex-wrap: nowrap;
        background-color: #3A3A39;

        .form {
          width: 95%;
          position: relative;

          .form-wrapper {
            margin: 5% 13% 3% 13%;

            .mat-form-field {
              width: 100%;
              margin-bottom: 4px;
              margin-left: 0;
            }
          }
        }

        .text-container {
          background-color: #FF5252;
          width: 5%;

          .text-wrapper {
            margin: 0;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
