.portfolio {
  height: 800px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto auto auto 5%;

  .h2-container {
    margin-bottom: 30px;
    margin-left: 45px;

    h2 {
      font-family: "Gotha Pro Bold", sans-serif;
      font-size: 44px;

    }
  }


  .description {
    position: relative;
    width: 100%;
    flex-wrap: nowrap;

    .text-container {
      background-color: rgb(238,243,254);
      width: 50%;
      padding-top: 45px;
      padding-left: 45px;
      height: 440px;

      .text {
        width: 385px;
        color: black;
        line-height: 22px;
      }
    }

    .pillar {
      height: available;
      width: 50%;
      background-color: #FF5252;
    }
  }

  .controls {
    width: 350px;
    margin-left: 45px;

    p {
      cursor: pointer;

      &.active {
        color: #FF5252;

        &::after {
        background-color: #FF5252;
        }
      }

      &::after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 10px;
        background-color: white;
        margin-left: 10px;
      }
    }
  }
}
