<section *ngIf="appMode$ | async as appMode"
         id="{{AppScreen.SKILLS}}"
         fxLayoutAlign="center"
         class="skills-container">

  <div class="position-container container">

    <h2 *ngIf="appMode === AppMode.CLASSIC"
        class="section-header">
      Skills
    </h2>

    <ul fxLayoutAlign="space-between" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <li *ngFor="let skillSet of (skillSets$ | async)">
        <app-skill-tile (click)="setActiveSkillSet(skillSet)"
                        [text]="skillSet.name"
                        [icon]="skillSet.icon"
                        [isActive]="(activeSkillSet$ | async)?.name === skillSet.name">

          <ng-container *ngIf="appMode === AppMode.MOBILE
                        && (activeSkillSet$ | async)?.name === skillSet.name
                        then skillsContainer;">
          </ng-container>

        </app-skill-tile>
      </li>

    </ul>

    <div *ngIf="appMode !== AppMode.MOBILE
                     then skillsContainer;">
    </div>

  </div>
</section>

<ng-template #skillsContainer>
  <div *ngIf="(activeSkillSet$ | async) as activeSkillSet"
       fxLayoutAlign="space-between"
       fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="center center"
       fxLayoutGap="10px"
      class="skills-description">

    <div [@animate]="{value:'*', params: { y:'100%' }}"
         class="description">
      <p>{{activeSkillSet.description}}</p>
    </div>

    <div class="skills">
      <app-skill-item *ngFor="let skill of activeSkillSet.skills"
                      [text]="skill.name"
                      [maxValue]="skill.proficiency">
      </app-skill-item>
    </div>
  </div>
</ng-template>
