@import "../../../styles/partials/positioning";

:host {
  @include container(100vh, 100%, 0, 0, 0);

  .skills-container {
    width: 100%;

    &.tablet {
      transform: scale(1);
      height: 700px;
    }
  }

  .skills {
    width: 70%;
  }

  .position-container {
    min-height: 600px;
    width: 100%;

    .skills-description {
      margin-top: 5%;
      width: 100%;

      p {
        margin: 0;
      }

      .description {
        max-width: 500px;
        width: 90%;
        margin-top: 25px;
        white-space: pre-line;
      }

      .skills-description {
        margin-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .skills-container {
    transform: scale(0.9);
    padding: 20px;

    .section-header {
      margin-bottom: 40px;
    }
  }
}


@media screen and (max-width: 740px) {

  .skills-container {
    margin-bottom: 150px !important;
    transform: scale(1);

    .skills-description {

      .skills {
        width: 90%;
        margin-bottom: 30px;
      }
    }
  }
}
