.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 89vh;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 0 3% 0 4%;
  z-index: 3;

  p {
    font-size: 13px;
  }

  .logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20% auto 0;
    width: 200px;
  }

  .controls {
    li {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    max-height: 100px;
    width: 100%;
    background-color: #22211E;
    margin: 0;

    .logo {
      margin-top: 0;
      margin-left: 5%;
    }

    .btn {
      display: none;
    }

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 42px;
      margin-bottom: 25px;
      width: 30%;

      @media screen and (max-width: 680px){
        width: 40%;
      }
    }
  }
}
