<div class="sidebar">
  <app-logo class="logo"></app-logo>
  <ul class="controls">
    <li><a href="https://www.linkedin.com/feed/" target="_blank" about="LinkedIn">LinkedIn</a></li>
    <li><a href="" target="_blank" about="CV">CV</a></li>
    <li><a href="https://github.com/ArtemWolynski" target="_blank" about="Github">Github</a></li>
  </ul>
  <app-primary-button class="btn"
                      [style.opacity]="shouldShowButton? 1: 0"
                      [text1]="buttonText"
                      (clicked)="onButtonClicked($event)">
  </app-primary-button>
  <app-menu *ngIf="classicMode"></app-menu>
</div>
