.skills-container {
  height: 600px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  overflow: hidden;

  @media screen and (max-width: 1500px) {
    height: 550px;
  }

  .skills-description {
    flex-wrap: nowrap;
    margin-top: 5%;

    .skills {

      .description {
        width: 418px;
        margin-top: 25px;
      }

      .skills-description {
        margin-top: 25px;
      }

      .skills {
        margin-top: 10px;
        width: 270px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .skills-container {
    position: relative;
    padding-top: 1px;
    margin-top: -1px;
  }
}
