/* You can add global styles to this file, and also import other style files */
@import "styles/typography";
@import "styles/general";
@import "styles/normalize";
@import "styles/helpers";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/partials/positioning";
@import "styles/partials/colors";

@font-face {
  font-family: "Gotha Pro";
  src: url("assets/fonts/GothaProReg.otf");
}

@font-face {
  font-family: "Gotha Pro Bold";
  src: url("assets/fonts/GothaProBol.otf");
}

h4, p, ul, li, button {
  font-family: "Gotha Pro", sans-serif;

}
