.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-left: -10%;
  margin-top: -5%;

  @media screen and (max-width: 1480px) {
    margin-left: 0;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

  .name {
    font-family: "Gotha Pro", sans-serif;
    font-weight: lighter;
    font-size: 36px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: -5px;
  }

  .surname{
    font-family: "Gotha Pro Bold", sans-serif;
    font-size: 94px;
    color: #FF5252;
    text-transform: uppercase;
  }

  .position{
    padding-left: 372px;
    font-family: "Gotha Pro", sans-serif;
    font-weight: lighter;
    font-size: 16px;
  }

  .description {
    margin-left: 400px;
    max-width: 521px;
    margin-top: 25px;
    display: flex;

    .pillar{
      margin-right: 25px;
      width: 15px;
      height: auto;
      background-color: #FF5252;
    }

    p {
      padding: 0;
      margin: 0;

      &:first-child {
        padding-bottom: 20px;
      }
    }
  }
}



@media screen and (max-width: 1250px) {
  .header {
    position: relative;
    min-height: 100vh;
    padding-top: 1px;
    margin-top: -1px;
    margin-left: 0;

    .description {
      margin-left: 20%;
    }

    .container {
      width: 95%;
      margin: 34vh auto 0;
    }
  }
}


@media screen and (max-width: 680px) {
  .header {
    min-height: 0;

    margin-left: 0;
    margin-top: 0;

    .container {
      width: 95%;
      margin: 10% 0 0 30px;
    }


    .name {
      margin-top: 90px;
      font-size: 8vw;
      letter-spacing: 8px;
      margin-bottom: 0;
    }

    .surname{
      font-size: 16vw;
    }

    .position{
      padding-left: 5px;
      padding-top: 5px;
      font-size: 5vw;
      font-weight: lighter;
    }

    .description {
      margin-left: -10px;
      max-width: 521px;
      margin-top: 70px;

      .pillar{
        margin-right: 13px;
        width: 25px;
      }
    }
  }

}
